.general_chatbot_container {
    width: 100%;
    height: 100vh;
    display: flex;
    /* background-color: red; */
    transition: all 0.3s ease-in-out;
}

/* MENU */
.general_chatbot_container .menu {
    width: 20%;
    max-height: 100%;
    background: linear-gradient(to bottom left, #1E4382, #1478B0);
    padding: 30px;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
}

/* Hide menu when closed */
.menu.closed {
    transform: translateX(-100%);
    width: 0;
    padding: 30px 0;
    overflow: hidden;
}

/* Expand main when menu is closed */
.general_chatbot_container .main.full_width {
    flex: 1;
    width: 100%;
}

/* MENU TOGGLE BUTTON */
.menu_toggle {
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
    border-radius: 5px;
    background-color: #1E4382;
    transition: background 0.3s ease;
}

.menu_toggle i {
    font-size: 18px;
}

.menu_toggle:hover {
    background-color: #88A7C5;
}

/* CHATBOT LOGO */
/* .chatbot_logo_container {
    background-color: yellow;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.menu img {
    width: 100px;
    align-self: flex-end;
}

/* SELECTION */
.general_chatbot_container .selection {
    width: 100%;
}

.provider {
    /* border: 2px solid red; */
    margin-top: 20px;
    width: 100%;
    margin-bottom: 30px;
}

.provider p {
    color: white;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0;
}

.provider select,
.provider input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 10px;
    border: none;
    margin-bottom: 10px;
    background-color: rgba(245, 245, 245, 0.5);
}

.provider select:focus,
.provider input:focus {
    outline: none;
}

.api_input::placeholder {
    color: rgb(255, 255, 255);
    font-style: italic;
}

/* LOGOUT BUTTON */
.menu .logout {
    width: 40%;
    margin-top: auto;
    border-radius: 10px;
    /* background: radial-gradient(circle at top, #1478B0, #1E4382); */
    background-color: #1E4382;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(24, 24, 24, 0.2);
    transition: background 500ms ease, transform 500ms ease;
}

.menu .logout:hover {
    background: #88A7C5;
    transform: scale(0.97);
}

.logout p {
    color: white;
    text-align: center;
    font-size: 16px;
}

.history_container {
    border: 1px solid #88A7C5;
    background-color: #1E4382;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    height: 45%;
    max-height: 60%;
    overflow: auto;
}

/* Scrollbar Styling */
.history_container::-webkit-scrollbar {
  width: 5px;
}

.history_container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.history_container::-webkit-scrollbar-thumb {
  background: #88A7C5;
  border-radius: 5px;
}

.history_container::-webkit-scrollbar-thumb:hover {
  background: #999999;
}


.history_container .history {
    /* border: 2px solid; */
    background-color: rgba(245, 245, 245, 0.099);
    max-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-radius: 5px;
}

.history_text {
    color: white;
    font-size: 16px;
    /* font-weight: 600; */
    padding-left: 10px;
    /* border-bottom: 2px solid #88A7C5; */
}

.plus_text {
    color: rgba(255, 255, 255, 0.5);
    /* font-weight: 600; */
    background-color: #1478B0;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s ease;
}

.plus_text:hover {
    background-color: #88A7C5;
    color: white;
}

.chat_history_item {
  background-color: #88A7C5;
  margin-top: 10px;
  padding: 5px 5px 5px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border-left: 5px solid #1478B0;
  gap: 10px;
}

.chat_history_item.active {
  background-color: #1478B0;
  color: white;
}

/* .chat_history_item:hover {
  background-color: rgba(255, 255, 255, 0.5);
} */

.chat_history_item p {
  cursor: pointer;
  width: 85%;
}

.chat_history_item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.chat_history_item button i {
  font-size: 20px;
  color: #1E4382;
}

.chat_history_item button i:hover {
  color: red;
}

.inner_main .file_name {
  border: 1px solid #d5d5d576;
  background-color: rgba(232, 232, 232, 0.596);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  /* width: 30%; */
}

.inner_main .file_name i {
  margin-left: 20px;
  font-size: 20px;
  color: grey;
}

.inner_main .file_name i:hover {
  color: black
}


/* MAIN CONTENT */
.general_chatbot_container .main {
    /* border: 2px solid orange; */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.main .inner_main {
    /* border: 2px solid blue; */
    width: 60%;
    height: 100%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    /* gap: 35px; */
    /* justify-content: space-between; */
}


.main .intro {
    /* border: 2px solid; */
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h1 {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    color: #1E4382;
    line-height: 50px;
    padding: 2% 0;
    margin-top: 10%;
  }
  
/* ANIMATION */
@keyframes slideInFromBottom {
from {
    transform: translateY(20%);
    opacity: 0;
}
to {
    transform: translateY(0);
    opacity: 1;
}
}

/* Animation class */
.slideInFromBottom {
    animation: slideInFromBottom 1s ease-out forwards;
}

.main .opening_rider {
    width: 76%;
    font-size: 23px;
    font-weight: 400;
    align-self: center;
    text-align: center;
    color: rgb(40, 40, 40);
    margin-bottom: 10%;
  }

  
/* --------INPUT--------- */

.chat_input_area {
  /* border: 2px solid red; */
  width: 100%;
  min-height: 11%;
  max-height: 200px;
  background-color: #1E4382;
  /* margin: 2% 0; */
  border-radius: 10px;
  padding: 0px 20px 0px 0px;
  display: flex;
  overflow-y: auto;
  align-self: center;
}

.serach_upload_con {
  /* border: 2px solid white; */
  background-color: #ffffff24;
  height: 100%;
  width: 8%;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.search_upload {
  width: 100%;
  display: flex;
  cursor: pointer;
  background-color: background 0.5s ease;
}

.search_upload.active {
  background-color: #88A7C5;
}

.search_upload img {
  padding: 10px 0px;
  margin: auto;
}

.search_upload:hover {
  background-color: #ffffff0e;
}

.chat_input_area textarea {
  width: 94%;
  background-color: transparent;
  word-wrap: break-word;
  resize: none;
  overflow-y: hidden;
  border: none;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: white;
  line-height: 1.3;
  height: auto;
  min-height: 30px;
  max-height: 200px;
  padding-top: 20px;
  padding-right: 10px;
}

.chat_input_area textarea::placeholder {
  color: rgb(214, 214, 214);
  font-weight: 300;
  font-style: italic;
}

.chat_input_area textarea:focus {
  border: none;
  /* border: 2px solid red; */
  outline: none;
  /* padding-top: 20px; */
}

.chat_input_area textarea {
  height: auto; 
  min-height: 30px; 
}

.chat_input_area .button {
  width: 3%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* border: 2px solid white; */
}
  
.chat_area {
  border: 2px solid green;
  width: 100%;
  height: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  gap: 10px;
  margin-bottom: 35px;
}

  /* Scrollbar Styling */
  .chat_area::-webkit-scrollbar {
      width: 10px;
  }
  
  .chat_area::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 5px;
  }
  
  .chat_area::-webkit-scrollbar-thumb {
      background: #bbbbbb;
      border-radius: 5px;
  }
  
  .chat_area::-webkit-scrollbar-thumb:hover {
      background: #999999;
  }

.chat_message {
  border-radius: 10px;
  max-width: 70%;
  padding: 12px 16px 12px 20px;
  font-size: 16px;
  word-wrap: break-word;
  word-break: break-word;  /* Ensures words break if too long */
  overflow-wrap: break-word; /* Alternative to force wrapping */
  white-space: pre-wrap;  /* Keeps line breaks */
  transition: all 0.3s ease;
}

.bot_message_content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.chat_message.user {
  align-self: flex-end;
  background-color: #1E4382;
  color: white;
}

.chat_message.bot {
  align-self: flex-start;
  background-color: #EDEDED;
  color: #000;
}

.system_message {
  background-color: #eff7ff;
  color: #444;
  font-style: italic;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  /* margin: 5px auto; */
  max-width: fit-content;
  display: inline-block;
  font-size: 14px;
}


/* ---------- COPY --------- */
.gen_copy_cont {
  /* border: 2px solid; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.copy_icon_con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.copy_icon {
  width: 15px;
}

.copy_icon_con span {
  font-size: 14px;
  color: #A2A2A2;
}

.inner_main #error_message {
  color: rgb(120, 120, 120);
  font-size: 14px;
  text-align: center;
}